<template id="agitui-calendar">
    <table>
        <thead>
            <tr class="month">
                <td class="prevnext prev">◄</td>
                <td class="name" colspan="5"></td>
                <td class="prevnext next">►</td>
            </tr>
            <tr class="weekdays">
                <td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>
