<template id="agitui-form">
    <form class="form" method="post" action="">
        <table class="form-table break-xs">
        </table>
    </form>

    <div class="callout">
        <p></p>
    </div>

    <table class="dummy">
        <tbody class="form-row">
            <tr>
                <th scope="row">
                    <label></label>
                </th>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

    <select class="form-control">
        <option class="pleaseselect" value="">{{ t("– Please select –") }}</option>
    </select>

    <div class="boolean">
        <input type="checkbox">
        <label></label>
    </div>

    <input class="form-control datepicker" type="text" value="" readonly="readonly">
    <i class="datepicker-icon fa fa-calendar"></i>

    <div class="password input-group">
        <input type="password" class="form-control">
        <span class="input-group-btn buttons">
            <button class="show-pass btn btn-default" type="button" title="{{ t("show password") }}">
                <i class="fa fa-eye"></i>
            </button>
            <button class="hide-pass btn btn-default" type="button" title="{{ t("hide password") }}">
                <i class="fa fa-eye-slash"></i>
            </button>
        </span>
    </div>
</template>
