<template id="agitui-modal">
    <div class="modal" tabindex="0"></div>

    <div class="modal-close">
        <i class="fa fa-times"></i>
    </div>

    <div class="longtext"></div>

    <div class="dialog">
        <h3 class="header"></h3>
        <div class="main">
            <div class="visual"></div>
            <div class="message"></div>
        </div>
        <div class="footer"></div>
    </div>

    <div class="prompt">
        <p></p>
        <form action="" method="" autocomplete="false">
            <span>
                <input type="text" value="" class="form-control input-sm">
            </span>
            <span>
                <button type="submit" class="btn btn-primary btn-sm">{{ t("Ok") }}</button>
            </span>
        </form>
    </div>

    <button type="button" class="ok btn btn-primary btn-sm">{{ t("Ok") }}</button>
    <button type="button" class="cancel btn btn-default btn-sm">{{ t("Cancel") }}</button>
    <i class="question fa fa-question-circle"></i>
    <i class="error fa fa-exclamation-triangle"></i>
    <i class="warning fa fa-exclamation-circle"></i>
    <i class="success fa fa-check"></i>
    <i class="info fa fa-info-circle"></i>
</template>
