<template id="agitui-modal">
    <div class="modal" tabindex="0"></div>

    <div class="modal-close">
        <svg viewBox="0 0 13 13">
            <line x1="0" y1="13" x2="13" y2="0" />
            <line x1="0" y1="0" x2="13" y2="13" />
        </svg>
    </div>

    <div class="longtext"></div>

    <div class="dialog">
        <h3 class="header"></h3>
        <form action="" method="" autocomplete="off">
            <div class="body"></div>
            <div class="footer"></div>
        </form>
    </div>

    <div class="emph"> {# used by alert, confirm, prompt #}
        <div class="visual"></div>
        <div class="message"></div>
    </div>

    <div class="prompt">
        <p class="msg"></p>
        <p class="form">
            <span>
                <input type="text" value="" class="form-control input-sm">
            </span>
            <span>
                <button type="submit" class="btn btn-primary btn-sm">{{ t("Ok") }}</button>
            </span>
        </p>
    </div>

    <button type="submit" class="ok btn btn-primary btn-sm">{{ t("Ok") }}</button>
    <button type="button" class="cancel btn btn-default btn-sm">{{ t("Cancel") }}</button>
    <i class="question i-question-circle-o"></i>
    <i class="error i-exclamation-circle-o"></i>
    <i class="warning i-exclamation-circle-o"></i>
    <i class="success i-check-circle-o"></i>
    <i class="info i-info-circle-o"></i>
</template>
