<template id="agitui-form">
    <form class="api-form" method="post" action="">
        <table class="form break-xs">
            <tbody>
                <tr>
                    <th scope="row">
                        <label></label>
                        <span class="optional">{{ t("(optional)") }}</span>
                    </th>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-primary" type="submit">{{ t("submit") }}</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>

    <input type="text" class="form-control">

    <select class="form-control">
        <option class="pleaseselect" value="">{{ t("– Please select –") }}</option>
    </select>

    <div class="boolean">
        <input type="checkbox">
        <label></label>
    </div>

    <input class="form-control datepicker" type="text" value="" readonly="readonly">
    <i class="datepicker-icon fa fa-calendar"></i>
</template>
