<template id="agitui-page">
    <article class="view">
        <header></header>
        <section></section>
        <footer></footer>
    </article>

    <div class="container title">
        <span class="control show-nav only-handheld">
            <a class="fa fa-navicon"></a>
        </span>
        <h1></h1>
    </div>

    <nav>
        <div class="menu container">
        </div>
    </nav>

    <div class="menu-entry navigation primary">
        <h2>
            <i class="fa fa-navicon"></i>
            <span>{{ t("Pages") }}</span>
        </h2>
        <ul></ul>
    </div>

    <div class="menu-entry languages">
        <h2>
            <i class="fa fa-globe"></i>
            <span>{{ t("Languages") }}</span>
        </h2>
        <ul></ul>
    </div>

    <ul>
        <li class="page">
            <a href=""><span></span></a> {# span needed for vertical-align #}
        </li>

        <li class="language">
            <a href=""></a>
        </li>

        <li class="page-branch">
            <h3></h3>
            <ul></ul>
        </li>
    </ul>
</template>
