<template id="agitui-layout-app">
    <header>
        <div class="title">
            <div class="control">
                <button type="button" class="btn btn-primary fa fa-bars"></button>
            </div>
            <h1></h1>
            <div class="control"></div>
        </div>
    </header>
</template>
