{% extends "AgitUiBundle:Include:simple.page.html.twig" %}

{% agit.capability "" %}
{% agit.status 500 %}{# may be overridden by exception controller #}
{% set noindex = 1 %}
{% agit.name t("Something went wrong") %}

{% block main %}
    <h2>{{ message }}</h2>
    <pre>{{ trace }}</pre>
    <p><a href="/">{{ t("go to home page") }} ›</a></p>
{% endblock %}
