{% extends "AgitUiBundle:Include:simple.page.html.twig" %}

{% agit.capability "" %}
{% agit.status 401 %}
{% set noindex = 1 %}
{% agit.name t("Authorization required") %}

{% block main %}
    <h1>{{ t("Authorization required") }}</h1>
    <p>{{ t("Please log in to view this page.") }}</p>
    <p><a href="/">{{ t("go to home page") }} ›</a></p>
{% endblock %}
