@font-face {
    font-family: 'sourcesanspro';
    src: url('/bundles/agitui/fonts/sspro/sspro-regular.eot');
    src: url('/bundles/agitui/fonts/sspro/sspro-regular.eot?#iefix') format('embedded-opentype'),
         url('/bundles/agitui/fonts/sspro/sspro-regular.woff2') format('woff2'),
         url('/bundles/agitui/fonts/sspro/sspro-regular.woff') format('woff'),
         url('/bundles/agitui/fonts/sspro/sspro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sourcesanspro';
    src: url('/bundles/agitui/fonts/sspro/sspro-it.eot');
    src: url('/bundles/agitui/fonts/sspro/sspro-it.eot?#iefix') format('embedded-opentype'),
         url('/bundles/agitui/fonts/sspro/sspro-it.woff2') format('woff2'),
         url('/bundles/agitui/fonts/sspro/sspro-it.woff') format('woff'),
         url('/bundles/agitui/fonts/sspro/sspro-it.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sourcesanspro';
    src: url('/bundles/agitui/fonts/sspro/sspro-semibold.eot');
    src: url('/bundles/agitui/fonts/sspro/sspro-semibold.eot?#iefix') format('embedded-opentype'),
         url('/bundles/agitui/fonts/sspro/sspro-semibold.woff2') format('woff2'),
         url('/bundles/agitui/fonts/sspro/sspro-semibold.woff') format('woff'),
         url('/bundles/agitui/fonts/sspro/sspro-semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sourcesanspro';
    src: url('/bundles/agitui/fonts/sspro/sspro-semiboldit.eot');
    src: url('/bundles/agitui/fonts/sspro/sspro-semiboldit.eot?#iefix') format('embedded-opentype'),
         url('/bundles/agitui/fonts/sspro/sspro-semiboldit.woff2') format('woff2'),
         url('/bundles/agitui/fonts/sspro/sspro-semiboldit.woff') format('woff'),
         url('/bundles/agitui/fonts/sspro/sspro-semiboldit.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
