/*.indicator                              { position: absolute; top: 0; left: 0; display: none; z-index: 1500; height: 100%; width: 100%; background: rgba(255, 255, 255, .7); text-align: center; }
.indicator .anim                        { position: absolute; top: 50%; left: 50%; border-radius: 50%; box-sizing: border-box; border: solid 3px rgba(50, 120, 180, 0.4); border-top-color: #3278b4; }
.indicator .anim.on                     { animation: ind-spin 1s infinite linear; -webkit-animation: ind-spin 1s infinite linear; }

.indicator.window,
.indicator.window .anim                 { position: fixed; }

.indicator.inverse                      { background: rgba(0, 0, 0, .7); }
.indicator.inverse .anim                { border: solid 3px #a9ceed; border-top-color: #fff; }
.indicator.nobg                         { background: none; }

@keyframes ind-spin
{
    from { transform: translate(-50%, -50%) rotate(0deg);  }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
}

@-webkit-keyframes ind-spin
{
    from { -webkit-transform: translate(-50%, -50%) rotate(0deg);  }
    to   { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}*/


.overlay-indicator                      { z-index: 1500; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, .7); }
.overlay-indicator .anim                { z-index: 1510; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.overlay-indicator .anim .spinner       { height: 4em; width: 4em; }
