.modal                                  { display: none; width: 90%; max-width: 500px;
                                          z-index: 1010; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
                                          background: #fff; box-shadow: 0px 0px 4px #333; outline: 0; }

.modal .header                          { margin: 0 0 .6em; font-size: 1em; font-weight: 500; line-height: 1em; padding: 1em 1.5em; background: #f1f1f1; border-bottom: 1px solid #ccc }
.modal .main                            { display: table; }
.modal .main > *                        { display: table-cell; vertical-align: middle; padding: 1.5em; }
.modal .main .visual                    { padding-right: 0; width: 6em; text-align: center; }
.modal .main p                          { margin: .4em 0; color: #444; }
.modal .footer                          { padding: 0 1.5em 1.5em; text-align: center }

.textmodal                              { max-height: 95%; max-width: 95%; }
.textmodal-close                        { position: absolute; top: -16px; right: -16px; background: #d2a403; background: linear-gradient(to bottom, #666 0%, #222 100%);
                                          border: 2px solid #fff; border-radius: 50%; color: #fff; box-shadow: 0px 0px 4px #333;
                                          cursor: pointer; }
.textmodal-close i.fa                   { display: block; margin: 2px; width: 30px; height: 30px; line-height: 30px; font-size: 24px; text-align: center; }
.textmodal-content                      { overflow: hidden; overflow-y: auto; max-height: 500px; padding: 2em; }
