/* STRUCTURAL ELEMENTS */

html, body                                          { height: 100%; font-family: roboto, Arial, sans-serif; background: #f4f4f9 }
.body /* wrapper around all visible elements */     { min-height:100%; position: relative; }

header .navbar-wrapper                              { position: fixed; top: 0; left: 0; right: 0; z-index: 10; background: rgba(64,100,130, 1);
                                                      border-bottom: 1px solid rgba(65,101,132, 0.87); box-shadow: 0 -20px 8px 21px rgba(40, 40, 40, 0.75); }
header .navbar-wrapper .navbar                      { margin: 0; border: 0; background: 0 }
header .navbar .dropdown-toggle *                   { vertical-align: middle; display: inline-block; }
header .navbar .dropdown-toggle .fa                 { font-size: 1.3em; }
header .navbar .dropdown-toggle span                { margin: 0 .4em; }
header .navbar .dropdown-menu                       { min-width: 100%; }
header .navbar .navbar-nav > li > a                 { color: #fff; }
header .navbar .navbar-nav > li > a:hover           { color: #eee }
header .navbar-inverse                              { border-radius: 0 }


main                                                { margin: 0 auto; padding-top: 100px; padding-bottom: 60px; }
main h1                                             { margin: 20px auto 50px; font-weight: 100; font-size: 50px; }
main h1:empty                                       { display: none }
main h2                                             { margin: 1em auto .6em; font-weight: 300; }
main h3                                             { margin: .8em auto .4em; font-weight: 300; }
main p, main ul                                     { margin: 1em auto; }
main p:last-child, main ul:last-child               { margin-bottom: 0; }
main li                                             { margin: .7em auto 0; }

main .page                                          { margin-bottom: 50px; }
main .page .view                                    { display: none; }

footer                                              { background-color: #585858; padding:20px 0; color: #ccc; position: absolute; bottom: 0; width:100%; }
footer ul, footer li                                { margin: 0; padding: 0; list-style: none; text-align: right; }
footer li                                           { margin-left: 1em; display: inline-block; }
footer a, footer a:link, footer a:visited           {  color:#eee; }
footer a:focus, footer a:active, footer a:hover     {  color:#fff; }
footer:empty                                        { display: none }
