{% extends ["::layout.web.html.twig", "AppBundle:Include:layout.web.html.twig", "AgitUiBundle:Include:layout/web/page.html.twig"] %}

{% agit.capability "" %}
{% agit.status "403" %}
{% block title %}{{ x("Forbidden", "page title") }}{% endblock %}

{% block main %}
    <div class="callout callout-warning">{{ t("You are not allowed to access this page. Please contact an administrator to upgrade your privileges.") }}</div>
{% endblock %}
