{% extends ["::page.html.twig", "AppBundle:Include:page.html.twig", "AgitUiBundle:Include:page.html.twig"] %}

{% agit.capability "" %}
{% agit.status "404" %}
{% set noindex = 1 %}
{% block title %}{{ x("Page not found", "page title") }}{% endblock %}

{% block main %}
    <div class="callout callout-warning">{{ t("The requested page could not be found. Please check the spelling of the address, or notify the owner of the referring web page.") }}</div>
{% endblock %}
