{% extends ["::page.html.twig", "AppBundle:Include:page.html.twig", "AgitUiBundle:Include:page.html.twig"] %}

{# NOTE: This page doesn't make sense as such, it only acts as a fallback. It should be overwritten with something that either redirects to a login page or presents a login form itself. #}

{% agit.capability "" %}
{% agit.status "404" %}
{% set noindex = 1 %}
{% block title %}{{ t("Authorization required") }}{% endblock %}

{% block main %}
    <div class="callout callout-warning">{{ t("Please log in to view this page.") }}</div>
{% endblock %}
