{% extends 'AgitUiBundle:Include:page.base.html.twig' %}

{% agit.capability "" %}
{% agit.status "403" %}
{% set noindex = 1 %}
{% block title %}{{ x('Forbidden', 'page title') }}{% endblock %}

{% block body %}
<div class="container padded" role="main">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">{{ block('title') }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ t('The requested page cannot be viewed by you. Please log in, or contact an administrator if you need to access this page.') }}</p>
        </div>
    </div>
</div>
{% endblock %}
