<div class="container">
    {% block content %}
        <div class="col-xs-6">
            {% block left %}
            {% endblock %}
        </div>
        <div class="col-xs-6">
            {% block right %}
            {% endblock %}
        </div>
    {% endblock %}
</div>
