<template id="agitui-modal">
    <div class="modal" tabindex="0">
        <h3 class="header"></h3>
        <div class="main">
            <div class="visual"></div>
            <div class="message"></div>
        </div>
        <div class="footer"></div>
    </div>

    <div class="textmodal-close"><i class="fa fa-times"></i></div>
    <div class="textmodal-content"></div>

    <div class="confirm-modal">
        <i class="fa fa-question-circle"></i>

        <button type="button" class="cancel btn btn-default btn-sm">{{ t("Cancel") }}</button>
        <button type="button" class="ok btn btn-primary btn-sm">{{ t("Ok") }}</button>
    </div>
</template>
