<div class='factory'>
    <div class='indicator'>
        <div class='overlay'></div>
        <i class='anim fa fa-circle-o-notch fa-spin'></i>
    </div>

    <span class='indicator'>
        <i class='anim fa fa-circle-o-notch fa-spin'></i>
    </span>
</div>