{% spaceless %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% block page_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}

        <link rel="icon" href="/favicon.ico">
        <meta name="description" content="{{ block("summary") }}">

        {% include "AgitUiBundle:Include:include.urls.html.twig" %}
        {% include "AgitUiBundle:Include:include.langswitch.html.twig" %}

        {% block page_meta %}
        {% endblock %}
    {% endblock %}

    {% block base_css %}
        {% stylesheets
            "@AgitUiBundle/Resources/public/css/bootstrap.css"
            "@AgitUiBundle/Resources/public/css/bootstrap-theme.css"
            "@AgitUiBundle/Resources/public/css/common.css"

            filter="?uglifycss"
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {% block page_css %}
    {% endblock %}
</head>
<body role="document">
    {% block body %}
    {% endblock %}

    {% block base_js %}
        {% javascripts
            "@AgitUiBundle/Resources/public/js/ext/jquery.js"
            "@AgitUiBundle/Resources/public/js/ext/bootstrap.js"
            "@AgitUiBundle/Resources/public/js/ext/ie10-viewport-bug-workaround.js"

            filter="?uglifyjs2"
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    {% block page_js %}
    {% endblock %}
</body>
</html>
{% endspaceless %}
