<template id="agitui-msg-bubbles">
    <div class="message-bubble">
        <div class="message-bubble-inner">
            <div class="icon">
                <i class="info fa fa-info-circle"></i>
                <i class="success fa fa-check-circle"></i>
                <i class="warning fa fa-exclamation-circle"></i>
                <i class="error fa fa-times-circle"></i>
            </div>
            <div class="msg"></div>
        </div>
    </div>
</template>
