<template id="agitui-map">
<div class="map">
    <div class="credits">
        © <a href='https://www.openstreetmap.org/copyright' target='_blank'>openstreetmap</a> contributors
    </div>
</div>
</template>
