<template id="agitui-layout-app">
    <div class="page">
        <main class="views"></main>
    </div>

    <header>
        <div class="title">
            <div class="back">
                <a class="fa fa-arrow-left"></a>
            </div>

            <h1>{{ block("title") }}</h1>

            <div class="control">
                <button type="button" class="btn btn-primary fa fa-bars"></button>
            </div>
        </div>
    </header>

    <section class="view"></section>
</template>
