<template id="agitui-layout-app">
    <div class="page">
        <main class="views"></main>
    </div>

    <header>
        <div class="title">
            <div class="control">
                <button type="button" class="btn btn-primary fa fa-bars"></button>
            </div>
            <h1></h1>
            <div class="control"></div>
        </div>
    </header>

    <section class="view"></section>
</template>
