<template id="agitui-modal">
    <dialog class="modal" tabindex="0">
        <h3 class="header"></h3>
        <div class="main">
            <div class="visual"></div>
            <div class="message"></div>
        </div>
        <div class="footer"></div>
    </dialog>

    <div class="textmodal-close"><i class="fa fa-times"></i></div>
    <div class="textmodal-content"></div>

    <div class="alert-modal">
        <button class="btn btn-default">{{ x("Ok", "button label") }}</button>
        <i class="error fa fa-exclamation-triangle"></i>
        <i class="warning fa fa-exclamation-circle"></i>
        <i class="success fa fa-check"></i>
        <i class="info fa fa-info-circle"></i>
    </div>

    <div class="confirm-modal">
        <i class="fa fa-question-circle"></i>
        <button type="button" class="cancel btn btn-default btn-sm">{{ t("Cancel") }}</button>
        <button type="button" class="ok btn btn-primary btn-sm">{{ t("Ok") }}</button>
    </div>
</template>
