<template id="agitui-map">
<div class="map">
    <div class="credits">
        © <a href='http://www.openstreetmap.org' target='_blank'>openstreetmap</a> <a href='http://www.openstreetmap.org/copyright' target='_blank'>(odl)</a> · hosted by <a href='http://www.mapquest.com/' target='_blank'>mapquest</a>
    </div>
</div>
</template>
